<div style="text-align:center">
	<a [routerLink]="[{ outlets: { primary: ['product', 'list']} }]">
		Products
  </a>
</div>
<div style="text-align:center">
	<a [routerLink]="[{ outlets: { primary: ['product', 'list'], modal: ['rm', 'investor-view'] } }]">
		Products + Sidebar
  </a>
</div>
<div style="text-align:center">
	<a [routerLink]="[{ outlets: { primary: ['investor'] } }]">
		InvestorView
  </a>
</div>
<div style="text-align:center">
	<a [routerLink]="[{ outlets: { primary: ['investor'], modal: ['rm'] } }]">
		InvestorView + Sidebar
  </a>
</div>

<div>
	<div style="float:right">
		<router-outlet></router-outlet>
	</div>
	<div style="float:left">
		<router-outlet name="modal"></router-outlet>
	</div>
</div>
