<div style="text-align:center">
	<a [routerLink]="[{ outlets: { primary: ['product', 'list']} }]">
		Products
  </a>
</div>
<div style="text-align:center">
	<a [routerLink]="[{ outlets: { primary: ['product', 'list'], modal: ['investor-view'] } }]">
		Products + Investor in modal
  </a>
</div>
<div style="text-align:center">
	<a [routerLink]="[{ outlets: { primary: ['product', 'list'], modal: ['product', 'list'] } }]">
		Products + Products in modal
  </a>
</div>
<div style="text-align:center">
	<a [routerLink]="[{ outlets: { primary: ['investor'] } }]">
		InvestorView
  </a>
</div>
<div style="text-align:center">
	<a [routerLink]="[{ outlets: { primary: ['investor'], modal: ['investor-view'] } }]">
		InvestorView + Investor in modal
  </a>
</div>

<div>
	<div style="float:right">
		<router-outlet></router-outlet>
	</div>
	<div style="float:left">
		<router-outlet name="modal"></router-outlet>
	</div>
</div>
