<div class="menu">
  <div class="menuItem" style="text-align:center">
    <a [routerLink]="[{ outlets: { primary: ['product', 'list'] } }]">
      Products
    </a>
  </div>
  <div class="menuItem" style="text-align:center">
    <a [routerLink]="[{ outlets: { primary: ['investor-view'] } }]">
      InvestorView
    </a>
  </div>
  <div class="menuItem" style="text-align:center">
      <a routerLink="/">
        Home
      </a>
    </div>

  <div>
    <button (click)="closeModal()">Close Modal</button>
    <button (click)="openInvestorModal()">Investor Modal</button>
    <button (click)="openProductModal()">Product Modal</button>
  </div>
</div>

<div>
	<div class="content">
		<router-outlet></router-outlet>
  </div>
	<div *ngIf="showModal">
		<router-outlet name="aux"></router-outlet>
	</div>
</div>
